html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    background-color: black;
    overflow: hidden;
}

.typo_canido {
    margin-top: -0.5em;
}

.typo_forthe {
    margin-top: -0.35em;
}

.typo_internet {
    margin-top: -0.1em;
    line-height: 0.7;
}
@keyframes pulse {
    0% { transform: scale(1, 2); }
    50% { transform: scale(1.1, 2.2); }
    100% { transform: scale(1, 2); }
}
.pulse {
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
.rarrow, .larrow {
    position: absolute;
    top: 40%;
    font-size: 97px;
    transform: scale(1, 2);
    display: none;
}
.larrow {
    right: 100%;
    display: none;
}
.rarrow {
    left: 100%;
}
.typo {
    display: block;
}
.wcidfti_typo {
    width: 100%;
    font-family: "Fira Sans";
    transform: scale(1, 2);
    line-height: 1.1;
    font-style: italic;
    position: absolute;
    top: 9em;
    padding-top: 15px;
}
.sidebar {
    color: white;
    word-break: break-all;
    text-align: center;
    height: 100%;
    position: absolute;
    left: 0;
    width: 20%;
    min-width: 200px;
    z-index: 10;
    transition: 1s ease;
    background-color: black;
    font-weight: 600;
    cursor: pointer;
}

.bounce_out_left {
    transition: 0.1s ease-out;
}

.bounce_out_left:hover {
    transform: translate(3%,0);
}

.bounce_out_right {
    transition: 0.1s ease-out;
}

.bounce_out_right:hover {
    transform: translate(-3%,0);
}

.content {
    width: 80%;
    height: 100%;
    z-index: 1;
    position: absolute;
    display: none;
    background-image: linear-gradient(120deg, #D2EDB9 0%, #44BC92 29%, #25A6AB 63%, #12F384 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 125% 125%;
}

.video_container {
    position: absolute;
    z-index: 5;
    left: 20%;
    width: 80%;
    height: 100%;
    overflow: hidden;
    transition: 1s ease;
}
.video_container > iframe {
    width: 100%;
    height: 100%;
}
.typo_internet > .char10 {
  animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(5%, 0, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(2.5%, 0, 0);
  }

  90% {
    transform: translate3d(0.66667%, 0, 0);
  }
}

.bounce {
  animation-name: bounce;
  transform-origin: center left;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.passion_selector {
    width: 14%;
    float: left;
    margin-right: 11%;
    margin-bottom: 2%;
}

.passion_selector h2 {
    color: #FFF;
    font-family: "Fira Sans";
    display: inline;
    font-weight: 400;
    font-size: 18px;
    margin-left: 3px;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.passion_selector_icon {
    width: 100%;
    text-align: center;
    padding: 13% 2%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 0.6rem;
    color: white;
    cursor: pointer;
    min-width: 100px;
    text-shadow: 0.5px 0.5px black;
    transition: 1s ease, background-color 0.3s ease, text-shadow 0.3s ease, transform 1s ease;
}

.passion_selector_icon:hover {
    border-color: white;
    background-color: rgba(255, 255, 255, 0.15);
}

.passion_selector_icon:active {
    background-color: rgba(34, 62, 161, 0.80);
    text-shadow: 1px 1px 7px black;
}
.selected {
    background-color: rgba(34, 62, 161, 0.66);
    text-shadow: 1px 1px 4px black;
    border-color: white;
}

.selected:hover {
    background-color: rgba(34, 62, 161, 0.66);
    text-shadow: 1px 1px 4px black;
}

.selected:active {
    background-color: rgba(34, 62, 161, 0.16);
    text-shadow: none;
}

.main {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.main > h1 {
    color: white;
    font-family: "Fira Sans";
    text-shadow: 0.3px 0.3px black;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.selected_interests {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 30px;
    height: 7%;
    background: rgba(0, 26, 36, 0.1);
}

.selected_interests i {
    width: 14%;
    float: left;
    padding: 0.3% 0 0;
    height: 100%;
    text-shadow: 1px 1px 4px #000;
}
